.Coverflow ul
 {
    display: flex;
    position: relative;
    list-style-type: none;
    justify-content: space-between;
  }

.Coverflow li
 {
    border: solid 1px black;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    margin: 5px;
    transform: rotateY(-20deg);
    height: 25vw;
    width: 25vw;  
    background-color: #bbb;
  }

.Coverflow {
    perspective: 20vw;
    font-size: 16vh;
    overflow: hidden;
}

.Coverflow img 
 {
  flex-shrink: 0;
  justify-content: center;
  display: flex;
  max-width:100%;   
}  

.Description {  
  position: absolute;
  font-size: 14px;
}



