.PrevButton {
    margin-right: 12px;
    background: transparent;
    border: none;
    outline: none;
}

.isEnabled {
    cursor: pointer;
}

.Icon {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    fill: #ffff;
}

.IconShape {
    fill: #ffff;
}

.Icon:hover {
    fill: #e5e5e5;
    transform: scale3d(1.1);
}

.IconShape:hover {
    fill: #e5e5e5;
    transform: scale3d(1.1);
}