.VolumehandlerBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
}

.SoundIconBox {
    margin-right: 12.5px;
    transform: scale(2) translateY(0.5px);
}

